
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 body{
    font-family: "Roboto", sans-serif;
    background-image:url('/assets/login.png') ;
    background-size: cover;
    background-repeat: no-repeat;
 }
.center-div{
padding-top: 10%;
}
.container{
    box-shadow: 5px 12px 12px 7px rgb(152, 87, 180);
}
.btn.btn-primary{
    padding:.5em 2em;
    margin-top: 15px;
}

form{
    padding: 0 3em;
}
#login.title >span{
    font-size: .8em;

}
.btn a{
    text-decoration: none;
    color: white;
}